table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even){background-color: #f2f2f2}
  
  th {
    background-color: #04AA6D;
    color: white;
  }
  .thongke{
    text-align: center;
  }
 .content{
    text-align: center;
 }
 .content tr td{
    text-align: center;
 }
  
.next_content{
    margin-top: 50px;
}